<p>Hello,</p>

<p>You have been invited to join <strong><%= @organization.name %></strong>.</p>

<p>Click the link below to accept the invitation:</p>
<p><%= link_to 'Accept Invitation', @url %></p>

<p>After accepting, you will receive another email to set your password.</p>

<p>If you did not request this, please ignore this email.</p>
